body {
    background-color: #f3eae8;
    color: #110704;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: size 16px;

}

h1,
h2 {
    font-family: Arial, Helvetica, sans-serif
}
h1 {font-size: 3.5em;}

.Accolades{
    background-color:
    #dbb204 ;
    padding: 1em;
    margin: 1em 0;
}
